.no-mobile {
  position: absolute;
  z-index: 99;
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .no-mobile {
    display: none;
  }
}
